@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color:rgb(235, 152, 235);
}
*{
    color: white;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
header>div{
    position: fixed;
}

nav{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0%;
    
    background-color:rgb(29, 16, 29);
    z-index: 1;
    text-align: start;
}
.lp{
    position: sticky;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
}

.l{
    position: relative;
    background-color: rgb(63, 21, 63);
    padding: 50px;
    z-index: 0;
}
.op{
    display: inline-block;
    width: 30%;
    height: 20px;
    text-align: center;
    margin: 10px;
}
.opimg{
    border-radius: 30px;
}
.navlist{
    display: inline-block;
    width: 50%; 
    text-align: start;
    padding: 10px;
}
.s{
    display: inline;
    padding: 30px;
}
.s:hover{
    cursor: pointer;
    color: aqua;
}
.l>img{
    float:right;
    height: 200px;
    width: 150px;
    display: inline-block;

}
.l>p{
    padding: 20px 0px;
}
.m{
    margin: 40px 0px;
    padding: 0px 300px 0px 50px;
}
.q{

    padding: 40px 40px;
    text-align: ;
    background-color:rgb(63, 21, 63) ;
}
.ne{
    font-size: 30px;
}
.re{
    list-style: none;
    padding: 10px;
    font-size: 20px;
}
.ml{
    padding: 40px;
    background-color: rgb(63, 21, 63);    
}
.ml>p{
    padding: 10px;
}
.qw{

    padding: 40px;
    background-color: rgb(63, 21, 63);
}
.qw>h3{
    padding: 10px;
}
.qw>p{
    padding: 20px;
}
.qw>h3:hover{
    color: red;
    cursor: pointer;
}
.t{
    padding: 20px;
    background-color: black;
}
.bo{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 220px;
    right: 300px;
    border-radius: 30px;
    text-align: center;
    background-color:rgb(223, 49, 223);
}
.bo>a{
    text-decoration: none;
}
.rp{
    padding: 50px 300px 0px 50px;
}