@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
*{
    margin: 0%;
    font-family: 'Unbounded', cursive;
}
.container{
    display: flex;

}
/* /* .section::before{
    content: "";
    background-color: black;
    width: 100%;
    position:relative; }*/
.listbox{
    display: flex;
    margin-top: 10px;
    width: 50%;
    right: 0%;
    align-items: flex-end;
    justify-content: center;
}
ul{
    display: flex;
    margin: 0%;
}
li{
    list-style: none;
    
    padding: 10px;
    margin: 5px;
    
    font-family: 'Unbounded', cursive;
    font-size: ;
    font-weight: bold;
    /* border: 1px solid red; */
    border-radius: 50px;

    
}
li a{

}
li:hover{
    cursor: pointer;
    background-color: rgb(212, 209, 209);
}
li a{
    text-decoration: none;
    color: #04286b;
}
.imgbox{
    width: 50%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
a{
    text-decoration: none;
    color: #04286b;
}

.imgmain{
    border-radius: 50px;
}
.section{
    display: flex;
    margin-bottom: 60px;
    

}
.descbox{
    padding: 30px;
    width: 50%;
    margin: 50px auto;
    
}
.descbox:hover{
    border-radius: 10px;
    box-shadow: 10px 10px 20px grey;
    cursor: grab;
}
.imgindesc{
    float: right;
}
#content{
    background-color: #03045e;
}
.prop{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    
}
.pro-1{
    /* border: 2px solid red; */
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
    overflow: auto;
    background-color: aliceblue;

}
.pro-1:hover{
    box-shadow: -10px -10px 40px #395994;
}
.proimg{
    width: 200px;
    /* border-radius: 20px; */
}

.content,h2{
    display: block;
    text-align: center;
}
.desinpro{
    padding: 10px;
    justify-content: center;
    align-items: center;

}
.desinpro h4{
    text-align: center;
    font-weight: bolder;
}
.desinpro p{
    text-align: center;
    font-weight: normal;
}
/* .intern>h2{
    display: block;
} */
.intern{
    background-color:;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inter-1{
    /* border: 2px solid red; */
    border-radius: 20px;
    background-color: white;
    width: 80%;
    box-shadow: 10px 10px 20px grey;

}

.inter-1 h3{
    padding: 10px;
}
.services{
    background-color: #03045e;
    margin-top: 30px;
}
.mser{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ser-1{
    margin: 20px;
    border-radius: 10px;
    overflow: auto;
    height: 250px;
    /* border: 2px solid red; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow: -10px -10px 20px #395994;
}

.web{
    padding: 10px;
}
.cloud{
    padding: 10px;
}
/* .content{
    padding-bottom: 30px;
} */
